.background_color {
	background-color: #F9F;
}
td {
	border: 2px solid #03C;
	font-size: 24px;
	color: #06C;
	text-align: center;
}
th {
	border: 2px solid #03C;
	font-size: 24px;
	color: #06C;
	text-align: center;
}
